
/* Général ************************************************************/
body {
	width: 800px;
	margin: auto;
	background: #f9f9f9 url('../img/white_texture.jpg') repeat top left;
	font: 14px Georgia, "DejaVu Serif", Norasi, serif;
}
a     { color: #B93530; text-decoration: none; }
h1    { font-size: 30pt; }
h1, h2{ text-align: center; text-shadow: #ccc 0px 5px 5px; }
table { border-collapse: collapse; width: 100%; }
input { vertical-align: middle; border: 1px solid #999; border-radius: 5px; margin-top: 2px; padding-left: 3px; }
select { vertical-align: middle; margin-top: 2px; }
hr    { width: 75%; border: none; border-top: 1px solid black; }
a     { outline: 0; }
a img { border: none; }
img { max-width: 100%; height: auto; width: auto; box-sizing: border-box; }


/* Index **************************************************************/
#message {
	position: fixed;
	z-index: 100;
	width: 300px;
	padding: 5px;
	margin-left: 250px;
	margin-top: -5px;
	text-align: center;
	color: black;
	border-top: 0px;
	opacity: .5;
	border-radius: 5px;
	background-color: lightgreen;
	border: 1px solid green;
}
.bandeau {
	width: 530px;
	text-align: center;
	background-color: red;
	color: white;
	font-weight: bold;
	margin: auto;
	padding: 3px;
}
#diamant {
	background: url('../img/diamant.png') no-repeat;
}
#diamantlong {
	background: url('../img/diamantlong.png') no-repeat;
}
#diamant, #diamantlong {
	max-width: 100%;
	width: 500px;
	height: 400px;
	margin: auto;
	margin-top: -80px;
	box-sizing: border-box;
}
#diamant p, #diamantlong p {
	width: auto;
	margin-left: 80px;
	margin-right: 80px;
	text-shadow: #999 1px 1px 1px;
}
#diamant form, #diamantlong form {
	text-align: left;
	width: 200px;
	margin: auto;
	padding: 10px;
	text-shadow: #999 1px 1px 1px;
}
#diamant form {
	width: 200px;
	border-left: 3px double black;
	border-right: 3px double black;
	border-radius: 5px;
}
.champs {
	width: 220px;
}
#diamantlong form {
	width: auto;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}
#diamantlong form label {
	display: block;
	margin-bottom: -15px;
	text-align: center;
}
#diamantlong .deco {
	position: relative;
	margin-top: -60px;
	padding-right: 15%;
	text-align: right;
	width: auto;
}
#diamantlong .deco input {
	border: none;
	border-left: 3px double black;
	border-right: 3px double black;
	border-radius: 5px;
	background-color: transparent;
}
#rebond {
	margin: auto;
	margin-top: -40px;
	margin-bottom: -5px;
}

/* Autre **************************************************************/
.courriel      { color: indigo; unicode-bidi:bidi-override; direction: rtl; }
.barre-haute   { height: 5px; width: 100%; background-color: black; }
.droite        { text-align: right; padding-right: 10px; }
.centre        { text-align: center; }
.box_shadow    { box-shadow: 0px 5px 5px #aaa; }
.pbloc, .bloc  { padding: 12px 20px 12px 20px; border: 1px solid #aaa; }
.pbloc:hover p { background-color: white; }
.pbloc:hover   { border: 1px dashed black; box-shadow: 0px 5px 7px #fff; }
.bloc td       { width: 50%; }
.normal        { width: 800px; background-color: #ddd; }


/* Règles CSS pour les mobiles */
@media (max-width: 480px) {
	/* masquer les éléments superflus */
	.hide_mobile_p { display: none !important; }
	
	
	/* Règles mobile perso */
	#diamantlong .deco {
		padding-right: 10%;
		text-align: right;
		width: auto;
	}
	.champs {
		width: 150px;
	}
	#rebond {
		margin-top: -20px;
	}
}
@media (max-width: 640px) {
	/* Passer tous les éléments de largeur fixe en largeur automatique */
	body, table { width: auto; margin: auto; padding: auto; }
	/* Fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */
	img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video { max-width: 100%; }
	/* Conserver le ratio des images et empêcher les débordements de boîtes dûs aux border ou padding */
	img { height: auto; width: auto; box-sizing: border-box; }
	/* Gestion des mots longs */
	textarea, table, td, th, code, pre, samp { word-wrap: break-word; hyphens: auto; }
	code, pre, samp { white-space: pre-wrap; }
	/* masquer les éléments superflus */
	.hide_mobile { display: none !important; }
	/* Un message personnalisé 
	body:before {
		content: "Version mobile du site";
		display: block;
		color: #777;
		text-align: center;
		font-style: italic;
	}*/
	
	
	/* Règles mobile perso */
	#diamant {
		background: url('../img/diamant.png') no-repeat center center;
	}
	#diamantlong {
		background: url('../img/diamantlong.png') no-repeat center center;
	}
	#diamant p, #diamantlong p {
		margin-left: 40px;
		margin-right: 40px;
		box-sizing: border-box;
	}
	
	/* Boutons classes */
	.awesome, .awesome:visited {
		background: #222 url('../images/alert-overlay.png') repeat-x; 
		display: block; 
		padding: 5px 10px 6px; 
		text-align: center;
		line-height: 40px;
		color: #fff; 
		text-decoration: none;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
		border-bottom: 1px solid rgba(0,0,0,0.25);
		position: relative;
		cursor: pointer;
		font-size: 20px;
	}
	.awesome:hover { background-color: #111; color: #fff; }
	.awesome:active { top: 1px; }
}
